*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

html {
  --c_white: #F6F4E8;
  --c_black: #1E212B;

  --font-sans-serif: Verdana, sans-serif;
  --font-serif: Georgia, serif;
}

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--c_white);
  font-family: var(--font-serif);
  background-color: #313540;

  transition: background-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.death {
    background-color: #1E212B;
  }
}

.btn {
  width: 100px;
  height: 100px;
  border: none;
  background-color: #2b2b3e;
  color: #FDFFFC;
  border-radius: 50%;
}

.level {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 0.6s ease-out;

  &.hidden {
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }
}

canvas {
  position: absolute;

  width: 100%;
  height: 100%;
}


.screen {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 50%;

  font-family: var(--font-sans-serif);
  font-size: 1.4rem;

  button {
    align-self: center;
  }

  p {
    margin-top: 0;
    margin-bottom: 28px;
  }

  &.hidden {
    display: none;
  }

  &-start p {
    &:first-of-type {
      font-family: var(--font-serif);
      font-size: 1.8rem;
    }

    &:last-of-type {
      font-style: italic;
      span {
        font-style: normal;
      }
    }
  }

  &-special p {
    &:first-of-type {
      font-family: var(--font-serif);
      font-size: 1.8rem;
    }

    &:nth-of-type(2) em {
      font-family: var(--font-serif);
    }
  }
}

.input__wrapper {
  position: absolute;
  top: 14px;

  z-index: 10;

  input {
    border: 0;
    background-color: #E9E2C4;
    font-size: 2rem;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  height: 100%;

  padding: 14px;
}

.card {
  width: 12.36vmax;//9.6vw;
  height: 20vmax;//15.5vw;
  min-width: 0;
}

.poem {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
}

.poem__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: var(--c_black);
}

.character {
  border-radius: 5px;

  background-color: var(--c_black);
  color: var(--c_white);

  &__portrait {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    border-radius: 50%;

    background-color: #2A2E3C;
    background: linear-gradient(to top, #2A2E3C, var(--c_black));
  }

  &__name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 5px 0;
    color: var(--c_white);
    text-align: center;
  }

  &--dead {
    opacity: 0.4;
  }
}

.characters__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: masonry;
  grid-gap: 14px;
}